---
title: Drones Del Caribe
---

<%= partial 'layouts/banner' %>

<!-- ABOUT -->
<div id="about-us" class="bckg-sand pad-y-100">
  <div class="container">
    <div class="row mar-bottom-40">
      <div class="col-xs-12 col-sm-12">
        <h2 class="subtitle text-center">QUIENES SOMOS</h2>
        <h3 class="text-center mar-bottom-40 second-subtitle">Los drones son una pasión</h3>
        <p class="text-center dots mar-bottom-40">
          &middot;&middot;&middot;&middot;&middot;
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="member-container text-center">
           <%= image_tag "https://via.placeholder.com/200x200.png?text=Mario", :class => "center-block avatar-x-large avatar-square mar-bottom-30" %>
           <h3>Mario</h3>
           <p>Mario Pérez es un piloto de aeromodelismo y RPAS CON MÁS DE 20 años de experiencia, lo que permite mayor seguridad en el manejo de este tipo de aeronaves, además de utilizar Drones de última tecnología que permiten gravar videos 4K e imágenes con 20 megapixeles para poder brindar un exelente servicio.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- SERVICES -->
<div class="pad-y-100" id="services">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-4">
        <h2 class="text-center">SERVICIOS</h2>
        <h3 class="text-center second-subtitle">
          En esto te podemos ayudar
        </h3>
        <p class="text-center dots mar-bottom-40">
          &middot;&middot;&middot;&middot;&middot;
        </p>
        <!-- TODO delete those ellipsis if not needed -->
        <!-- <i class="fas fa-ellipsis-h"></i> -->

        <div class="card-services">
          <div class="icon-container">
            <i class="fas fa-map-marked red"></i>
          </div>
          <div class="content-container">
            <h4>
              LEVANTAMIENTO TOPOGRAFICO
            </h4>
            <p>
              Si necesitas mediciones de un terreno o analizar el suelo para realizar obras de ingeniería, realizarlo a través de drones te ahorrará tiempo y costos.
            </p>
          </div>
        </div>
        <div class="card-services">
          <div class="icon-container">
            <i class="fas fa-industry red"></i>
          </div>
          <div>
            <h4>
              INSPECCIONES INDUSTRIALES
            </h4>
            <p>
              Obtenemos la información necesaria para realizar análisis estructurales e inspección de obras civiles a partir de imágenes de alta resolución; disminuyendo tiempo y riesgos laborales al no necesitar personas en alturas.
            </p>
          </div>
        </div>
        <div class="card-services">
          <div class="icon-container">
            <i class="fas fa-search red"></i>
          </div>
          <div>
            <h4>
              ATENCION DE EMERGENCIAS, BUSQUEDA Y RESCATE
            </h4>
            <p>
              Realizamos vuelos sobre zonas afectadas por desastres naturales y/o emergencias para facilitar la búsqueda de sobrevivientes o desparecidos.
            </p>
          </div>
        </div>
        <div class="card-services">
          <div class="icon-container">
            <i class="fas fa-video red"></i>
          </div>
          <div>
            <h4>
              CINE Y TELEVISION
            </h4>
            <p>
              Obtén las tomas y planos aéreos que siempre has imaginado para tu película, video musical, documental o video periodístico, consiguiendo resultados espectaculares que le darán un valor añadido a tu proyecto audiovisual.
            </p>
          </div>
        </div>
        <div class="card-services">
          <div class="icon-container">
            <i class="fas fa-glass-cheers red"></i>
          </div>
          <div>
            <h4>
              EVENTOS Y VIDEOS PUBLICITARIOS
            </h4>
            <p>
              Servicio de video para celebraciones y eventos sociales, así como para promocionar lugares o productos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TODO dron images -->
<div class="bckg-sand pad-y-100" id="drone-spec">
  <div class="image-container-top">
    <%= image_tag '../images/drone_phantom-4-pro-transparent-bckg-400x234.png', :class => "card-image"%>
  </div>
  <div class="image-container-bottom">
    <%= image_tag '../images/drone_phantom-4-pro-transparent-bckg-400x234.png', :class => "card-image"%>
  </div>
  <div class="container">
    <div class="row">
      <div class="flex-container space-between flex-wrap">
        <div class="flex-item text-center">
          <p class="drone-details black">
            Phantom 4 Pro
          </p>
          <p class="text-center dots mar-bottom-40">
            &middot;&middot;&middot;&middot;&middot;
          </p>
          <h5 class="red">
            Nuestro modelo
          </h5>
        </div>
        <div class="flex-item text-center">
          <p class="drone-details black">
            20 Megapixeles
          </p>
          <p class="text-center dots mar-bottom-40">
            &middot;&middot;&middot;&middot;&middot;
          </p>
          <h5 class="red">
            Resolución imagen
          </h5>
        </div>
        <div class="flex-item text-center">
          <p class="drone-details black">
            4K
          </p>
          <p class="text-center dots mar-bottom-40">
            &middot;&middot;&middot;&middot;&middot;
          </p>
          <h5 class="red">
            Resolución video
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PROYECTOS -->
<div class="pad-y-100" id="projects">
  <div class="container">
    <div class="row mar-bottom-40">
      <div class="col-xs-12 col-sm-12">
        <h2 class="subtitle text-center">PROYECTOS</h2>
        <h3 class="text-center mar-bottom-40 second-subtitle">Algunos proyectos seleccionados</h3>
        <p class="text-center dots mar-bottom-40">
          &middot;&middot;&middot;&middot;&middot;
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="flex-container space-between flex-wrap">

          <div class="flex-item text-center mar-bottom-20">
            <iframe width="380" height="200" src="https://www.youtube.com/embed/q7vCjB3wHn0" frameborder="0" rel="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" modestbranding="1"></iframe>
            <h4 class="text-center">Trashumancia</h4>
          </div>

          <div class="flex-item text-center mar-bottom-20">
            <%= image_tag "fotografia_aerea_cartagena.jpg", class: "image-project", alt:"Levantamiento Topográfico con Dron" %>
             <h4 class="text-center">Panorámica Cartagena</h4>
          </div>

          <div class="flex-item text-center">
            <%= image_tag "plano_dron_finca_tacamocho.jpg", class: "image-project", alt:"Levantamiento Topográfico con Dron" %>
             <h4 class="text-center">Levantamiento Topográfico</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTACT -->
<div class="pad-y-100 bckg-sand" id="contact">
  <div class="container">
    <div class="row mar-bottom-40">
      <div class="col-xs-12 col-sm-7" id="contact-left-side">
        <h2 class="subtitle text-center">CONTACTANOS</h2>
        <h3 class="text-center mar-bottom-40 second-subtitle">Estamos a tu escucha</h3>
        <p class="text-center dots mar-bottom-40">
          &middot;&middot;&middot;&middot;&middot;
        </p>
        <p>
          Todas las preguntas son bienvenidas. Si tienes un proyecto y quieres saber cómo te podemos colaborar; si quieres saber más acerca de nosotros y nuestra metodología; precios; etc...
        </p>
<!--         <p>Preguntas acerca de:</p>
        <ul>
          <li>Precios</li>
          <li>Hasta dónde nos desplazamos</li>
          <li>Más información acerca de nosotros, nuestra metodología</li>
          <li>Mapas Fincas</li>
          <li>...</li>
        </ul> -->
        <% admin = data.admin %>
        <ul class="contact-list">
          <li class="">
            <i class="link-social fa fa-envelope" aria-hidden="true"></i>
            <span><%= admin.email %></span>
          </li>
          <li class="">
            <i class="link-social fab fa-whatsapp-square" aria-hidden="true"></i>
            <span>314 - 580 15 89</span>
          </li>
          <li class="">
            <i class="link-social fa fa-phone-square" aria-hidden="true"></i>
            <span>314 - 580 15 89</span>
          </li>
        </ul>
        <div class="links-container">
          <h4 class="mar-top-30">Redes Sociales</h4>

          <% link_to "https://facebook.com/#{admin.facebook_nickname}", target: "_blank" do %>
            <i class="link-social fab fa-facebook" aria-hidden="true"></i>
          <% end %>
          <% link_to "https://instagram.com/#{admin.instagram_nickname}", target: "_blank" do %>
            <i class="link-social fab fa-instagram"></i>
          <% end %>
        </div>
        <div>
          <p class="mar-top-30">Nos encontramos en el departamento de Sucre, pero nos podemos desplazar a cualquier departamento de la costa Atlántica e incluso del interior del país, en función del proyecto a realizar.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5" id="contact-right-side">
        <h2 class="text-left mar-bottom-40 black">Envianos tu mensaje</h2>
        <p>Nos puedes contactar directamente a nuestro teléfono o email, o a través de este formulario.</p>
        <div class="form-container">
          <form id="contact-form" method="POST" action="https://formspree.io/contacto.dronesdelcaribe@gmail.com">
            <div class="form-group">
              <input type="text" name="name" placeholder="Nombre" class="form-control bckg-sand-lighter">
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control bckg-sand-lighter">
            </div>
            <div class="form-group">
              <input type="phone" name="phone" placeholder="Teléfono" class="form-control bckg-sand-lighter">
            </div>
            <div class="form-group">
              <textarea name="message" placeholder="Mensaje" rows="5" class="form-control bckg-sand-lighter"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO anadir sitios donde se desplazan -->



<!-- TODO delete later -->
<!-- Example code from template -->
<!-- <div id="home">

  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
 -->
